
html {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}

body {
	background-image: url("./../images/psychedelic_pattern.png");
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	color: #ddd;
	height: 100%;
}

p{
	display: inline;
	padding:2px;
}

h3 {
	padding: 10px;
}

.navbar-header {
	float:none;
	margin:0 auto;
	display: block;
	text-align: center;
	color: #444;
	height: 100%;
	background-color: #444;
}

.navbar {
	height: 8%;
	clear: both;
	background-color: #444;
	width: 100%;
}

.container-fluid {
	heigth: 100%;
}

.col-md-4 {
	float:none;
	margin:0 auto;
	display: block;
	text-align: center;
	color: #111;
	background-image: url("./../images/psychedelic_pattern.png");
	height: 100%;
	font-size: 4rem;
	border-radius: 5px 17px;
	box-shadow: 5px 5px 3px black;
}

.col-md-6 {
	float:none;
	margin:0 auto;
	display: block;
	text-align: center;
	border: 3px solid black;
	border-radius: 15px 50px;
	margin-bottom: 20px;
	background-color: #444;
	box-shadow: 10px 10px 5px black;
}

.col-md-8 {
	float:none;
	margin:0 auto;
	display: block;
	text-align: center;
	border: 3px solid black;	
	height: 70%;
	border-radius: 15px 50px;
	background-color: #444;
	box-shadow: 10px 10px 5px black;
}

.game {
	height: auto;
	border-color: black;
	border-width: 3px;
	border-radius: 15%;
	
}

footer {
	background-color: #424242;
	color: #FEFFF1;
	text-align: center;
	padding: 20px 0;
}

#displayPoster {
	width: 300px;
	margin-bottom: 20px;
	box-shadow: 10px 10px 5px black;
}

#solutionArea {
	padding-bottom: 20px;
}

#losses {
	padding-bottom: 20px;
}